.container {
    max-width: 1000px;
    margin: 5.5rem auto;
    padding: 0 3%;
    .small{
        text-align: left;
    }
       
}

.description {
    background-color: #FFF;
    font-family: 'Catamaran', 'Helvetica', 'Arial', sans-serif;
    font-size: 18px;
    color: #555;
}
.avatar{
    background-image: url(../../assets/images/umhb.png);
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 210px;
    position: relative;
    top: 3px;
    margin-bottom: -50px;
    border: 5px solid white;
    border-radius: 50px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.35); 
}

.small{
    text-align: left;
}
    