
<div class="avatar"></div>
<div class="container">
  <p class="description">My name is ABC. I'm a Front-End Developer. This is a personal site I
    put together to practice and keep track of what I learn. I've completed my training for front-end from various
    training portals like
    <span>
      <a href="https://www.edx.org">edX</a>, <a href="https://www.pluralsight.com">pluralsight</a>, <a
        href="https://www.udemy.com">Udemy</a>
    </span>. I am currently working for one of the biggest Airline Industry client in the USA.
  </p>
  <hr>
  <span>  
    <a href="http://github.com" title="Github">Github</a>&nbsp;<a href="mailto:abc@gmail.com" title="Email">Email</a>
  </span>
  &nbsp;&nbsp;&nbsp;
  <span class="small">© 2019  Crafted with <a href="https://metalsmith.io">Metalsmith</a> and deployed to a <a href="https://digitalocean.com">DigitalOcean</a> VPS.</span>
</div>